// declare additional variables
$lightGreen: #DDEEd7;
$paleGreen: #5C8B49;
$green: #37582A;

// enable smooth-scroll
html {
  scroll-behavior: smooth;
}

// fix dark mode button so it doesn't get hidden behind images
.darkmode-toggle {
	z-index: 10000;
}

.site-info .site-description {
	font-size: 16px !important;
}

[role="main"] h1 {
	line-height: 1.4;
}

// fix figcaption styling 
figcaption {
	text-align: left;
	margin-top: -5px;
	color: $gray;
	opacity: .5;
	transition: opacity 0.5s ease;
}

figure {
	a {
		display: block;

		&:hover, 
		&:focus {
			+ figcaption {
				opacity: 1;
			}
		}
	}
}

// fix margin at top of message and report notes
.message,
.report-notes {
	margin-top: 35px;

	*:first-child {
		margin-top: 0;
	}
}

// report notes styles
.report-notes-container {
	// use container so anchor link includes top padding
	margin-top: -15px;
	padding-top: 30px;
}

.report-notes {
	margin-top: 0;
	margin-bottom: 30px;
	padding: 30px;
	background-color: $lightGreen;
	border-radius: 3px;

	h3 {
		display: block;
		padding-bottom: 5px;
		border-bottom: 3px solid $paleGreen;
	}

	dt,
	dd {
		margin-top: 10px;
	}

	dt {
		font-weight: bold;
		display: inline-block;
	}

	dd {
		display: inline;
		
		&:after {
	  		display: block;
	  		content: '';
		}
	}
}

// skip to report summary link styles
h1 + .date {
	display: inline-block;
}

.date + .skip-to-notes::before {
	display: inline-block;
	content: "|";
	padding: 0 10px;
}

.skip-to-notes {
	display: inline-block;
}

@media screen and (max-width: 640px) {
	.post {
		.date,
		.skip-to-notes,
		.post-categories,
		.share-post,
		.related-posts *,
		.post-nav * {
			font-size: 14px;
		}
	}
}

.page-blog .report-notes-container {
	position: relative;
	z-index: -1;

	.report-notes {
		max-height: 260px;
		overflow: hidden;
		margin-bottom: 25px;

	&::before {
			position: absolute;
			content: "";
			pointer-events: none;
			display: block;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 60%;
			background-image: linear-gradient(to bottom, transparent, $lightGreen);
		}
	}
}

/* -------------------------------------------------------------------------------
 * map
 * -------------------------------------------------------------------------------*/

.page-map {
	.masthead {
		border-bottom: none;
	}

	[role="main"].container {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		position: relative;
		max-width: 100%;
		width: 100%;
		height: 100%;

		.page {
			position: absolute;
			top: 0;
			left: 0;
		}

		h1:first-child {
			@include visually-hidden;
		}
	}

	.page,
	.entry,
	#map {
		width: 100%;
		height: 100%;
	}

	.wrapper-footer {
		margin-top: 0;
		// position: absolute;
		// bottom: 0;
		// left: 0;
		// width: 100%;
		// // z-index: 500;
	}

	#display_hidden_markers {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1000;
		font-size: 12px;
		text-align: right;
		opacity: 0;
		white-space: nowrap;

		&.visible {
			opacity: 1;
			width: auto;
		}
	}

	.marker-hidden {
		display: none !important;

		&.marker-show {
			display: block !important;
		}
	}

	.leaflet-popup-content {
		width: 300px !important;

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-top: 0;
		}

		h3 {
			font-size: 16px !important;
		}

		p {
			font-size: 14px !important;
			margin-bottom: 15px !important;
			margin-top: 0 !important;
		}
	}

	&.darkmode--activated {
		.leaflet-control-zoom {
			border: 1px solid darken($paleGray, 50%);

			a {
				background-color: darken($darkGray, 10%);
				border-bottom-color: darken($paleGray, 50%);

				+ a {
					border-bottom: none;
				}

				span {
					color: $lightGray;
				}
			}
		}

		.leaflet-popup {
			.leaflet-popup-content-wrapper,
			.leaflet-popup-tip {
				background-color: $black;
			}

			.leaflet-popup-content * {
				color: $white;
			}

			.leaflet-popup-close-button:hover {
				color: $paleGray;
			}
		}

		.leaflet-marker-icon,
		.leaflet-popup iframe {
			filter: invert(100%) hue-rotate(180deg);
		}
	}
}
