// declare additional variables
$lightGreen: #DDEEd7;
$paleGreen: #5C8B49;
$green: #37582A;

// enable smooth-scroll
html {
  scroll-behavior: smooth;
}

// fix dark mode button so it doesn't get hidden behind images
.darkmode-toggle {
	z-index: 9998;
}

.site-avatar {
	width: auto !important;
	height: 70px;
	filter: none !important;

	svg {
		height: 100%;
		width: auto;
		fill: $black;
		isolation: isolate;
	}

	.darkmode--activated & svg {
		fill: $paleGray;
		stroke: $paleGray;
  }
}

.site-info .site-description {
	font-size: 14px !important;
}

[role="main"] h1 {
	line-height: 1.4;
}

// fix figcaption styling 
figcaption {
	text-align: left;
	margin-top: -5px;
	color: $gray;
	opacity: .5;
	transition: opacity .5s ease;
}

figure {
	a {
		display: block;

		&:hover, 
		&:focus {
			+ figcaption {
				opacity: 1;
			}
		}
	}
}

// fix margin at top of message and report notes
.message,
.report-notes {
	margin-top: 35px;

	*:first-child {
		margin-top: 0;
	}
}

// report notes styles
.report-notes-container {
	// use container so anchor link includes top padding
	margin-top: -15px;
	padding-top: 30px;
}

.report-notes {
	margin-top: 0;
	margin-bottom: 30px;
	padding: 30px;
	background-color: $lightGreen;
	border-radius: 3px;

	h3 {
		display: block;
		padding-bottom: 5px;
		border-bottom: 3px solid $paleGreen;
	}

	dt,
	dd {
		margin-top: 10px;
	}

	dt {
		font-weight: bold;
		display: inline-block;
	}

	dd {
		display: inline;
		
		&:after {
	  		display: block;
	  		content: '';
		}
	}
}

// skip to report summary link styles
h1 + .date {
	display: inline-block;
}

.date + .skip-to-notes::before {
	display: inline-block;
	content: "|";
	padding: 0 10px;
}

.skip-to-notes {
	display: inline-block;
}

@media screen and (max-width: 640px) {
	.post {
		.date,
		.skip-to-notes,
		.post-categories,
		.share-post,
		.related-posts *,
		.post-nav * {
			font-size: 14px;
		}
	}
}

.page-blog .report-notes-container {
	position: relative;
	z-index: -1;

	.report-notes {
		max-height: 260px;
		overflow: hidden;
		margin-bottom: 25px;

	&::before {
			position: absolute;
			content: "";
			pointer-events: none;
			display: block;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 60%;
			background-image: linear-gradient(to bottom, transparent, $lightGreen);
		}
	}
}

/* -------------------------------------------------------------------------------
 * map
 * -------------------------------------------------------------------------------*/

.page-map {
	&.page-loading {
		.wrapper-masthead,
		[role="main"],
		.wrapper-footer {
			opacity: 0 !important;
		}
	}

	#loading {
	  display: flex;
	  position: fixed;
	  z-index: 100;
	  width: 100%;
	  height: 100%;
	  z-index: 9999;
	  background-color: $white;
	  background-image: url('/assets/image/sound-map-org-logo-640-640.gif');
	  background-size: 240px 240px;
	  background-repeat: no-repeat;
	  background-position: center center;

	  &.loaded {
	  	opacity: 0;
	  	pointer-events: none;
	  	transition: opacity $time ease;
	  }
	}

	.masthead {
		border-bottom: none;
	}

	[role="main"].container {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		position: relative;
		max-width: 100%;
		width: 100%;
		height: 100%;

		.page {
			position: absolute;
			top: 0;
			left: 0;
		}

		h1:first-child {
			@include visually-hidden;
		}
	}

	.page,
	.entry,
	#map {
		width: 100%;
		height: 100%;
	}

	.wrapper-footer {
		margin-top: 0;
	}

	#display_hidden_markers {
		width: 50px;
		height: 50px;
		position: absolute;
		top: -50px;
		right: 0;
		z-index: 1000;
		font-size: 12px;
		text-align: right;
		opacity: 0;
		white-space: nowrap;
		align-items: flex-end;
    display: flex;

		&.visible {
			opacity: 1;
			width: auto;
		}
	}

	.marker-hidden {
		display: none !important;

		&.marker-show {
			display: block !important;
		}
	}

	.leaflet-popup-content {
		width: 300px !important;

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-top: 0;
		}

		h3 {
			font-size: 16px !important;
		}

		p {
			font-size: 14px !important;
			margin-bottom: 15px !important;
			margin-top: 0 !important;
		}
	}

	&.darkmode--activated {
		background-color: $black;

		#loading {
	  	filter: invert(100%);
	  }
		
		.leaflet-control-zoom {
			a {
				background-color: $darkerGray;
				border-bottom-color: $midGray;

				+ a {
					border-bottom: none;
				}

				span {
					color: $lightGray;
				}
			}
		}

		.leaflet-popup {
			.leaflet-popup-content-wrapper,
			.leaflet-popup-tip {
				background-color: $darkerGray;
			}

			.leaflet-popup-content * {
				color: $paleGray;
			}

			.leaflet-popup-close-button:hover {
				color: $paleGray;
			}
		}

		.leaflet-marker-icon {
			filter: invert(100%) hue-rotate(270deg) brightness(150%);
		}
	}
}

.leaflet-touch .leaflet-bar {
	border: none !important;
	box-shadow: 0 2px 5px rgba(0,0,0,.1) !important;
}

.leaflet-ctrl-geocoder {
	form.svelte-zh3kmv.svelte-zh3kmv {
		min-width: 40px !important;
		box-shadow: 0 2px 5px rgba(0,0,0,.1) !important;
		border-radius: 2px !important;
	}

	.no-results,
	.error {
		display: flex !important; 
		align-items: center !important;
		font-weight: normal !important;

		svg {
			display: none !important;
		}
	}

	.no-results svg + div {
		color: $midGray !important;
	}

	.error svg + div {
		color: $mahogany !important;
	}

	.clear-button-container {
		button:hover,
		button:focus,
		button:active {
			svg {
				fill: $mahogany !important;
			}
		}
	}

	.input-group.svelte-zh3kmv.svelte-zh3kmv {
		gap: 12px !important;
		padding-inline: 14px !important;
	}

	input.svelte-zh3kmv.svelte-zh3kmv {
		min-height: 40px !important;
	}

	.input-group.svelte-zh3kmv.svelte-zh3kmv:focus-within {
		outline: $paleGray solid 1px !important;
		border-radius: 2px !important;
	}

	* { 
		font-size: 14px !important;
		font-family: $sans-font-family !important;
		color: $darkGray !important;
	}

	ul li {
		&.selected {
			background-color: $lightGray !important;

			.primary {
				color: $mahogany !important;
			}
		}

		img {
			display: none !important;

			+ span {

				padding-left: 10px !important;
			}
		}
	}

	.darkmode--activated & {
		form.svelte-zh3kmv.svelte-zh3kmv {
			background-color: $darkerGray !important;
		}

		.no-results,
		.error {
			background-color: $darkerGray !important;
			color: $paleGray !important;
		}

		.clear-button-container {
			button {
				svg {
					fill: $paleGray !important;
				}

				&:hover,
				&:focus,
				&:active {
					svg {
						fill: invert($mahogany) !important;
					}
				}
			}
		}

		.input-group.svelte-zh3kmv.svelte-zh3kmv:focus-within {
			outline: $midGray solid 1px !important;
		}

		.search-button svg {
			stroke: $paleGray !important;
		}

		* { 
			color: $paleGray !important;
		}


		ul li {
			background-color: $darkerGray !important;

			&.selected {
				background-color: $midGray !important;

				.primary {
					color: invert($mahogany) !important;
				}
			}
		}	
	}
}

.wrapper-footer {
	background-color: $white;

	@include mobile {
		display: none;
	}
}

.darkmode-layer.darkmode-layer--button + .darkmode-toggle,
.darkmode-layer.darkmode-layer--button {
	bottom: 40px;

	@include mobile {
		bottom: 16px;
		right: 16px;
	}
}

// lowercase nav-menu links 
.nav-menu a {
	text-transform: lowercase;
}

// reduce height of mobile menu
@include mobile {
	.masthead {
		display: flex;
		padding: 10px 0;
	}

	.site-avatar {
		margin-right: 10px;
		height: 40px;
	}

	.site-info {
		align-self: center;

		.site-name {
			font-size: 16px;
			text-align: left;
			align-self: center;
			line-height: 1.2;
		}

		.site-description {
			display: none;
		}
	}

	.nav-menu {
		margin-top: 2px;
		position: relative;
		z-index: 9999;

		a {
			font-size: 16px;
			margin-right: 0;
		}
	}
}

// leaflet-search
.leaflet-control-search {
	border: 1px solid $paleGray !important;

	input.search-input {
		border: 0 !important;;
		max-width: 242px !important;
		white-space: nowrap;
		height: 34px !important;
		padding-right: 0 !important;
	}

	.search-button {
		width: 40px !important;
		height: 40px !important;
		background-image: url("images/search.svg") !important;
		background-size: 13px 13px !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
		cursor: pointer !important;

	}

	.search-cancel {
		display: none !important;
	}

	.search-tooltip {
		margin-top: 3px;
		max-width: 270px;
		background-color: $white !important;
		opacity: 1;
		max-height: none !important;

		.search-tip {
			margin: 0 !important;
			background-color: transparent;
			border-radius: 0;
			cursor: pointer;
			text-align: left;
		  cursor: pointer;
		  padding: 8px 8px;
		  opacity: 1;
		  font-size: 14px;
		  line-height: 18px;
		  white-space: nowrap;
		  display: block;
		  min-width: fit-content;
		  font-weight: 600 !important;

		  &:hover, 
		  &:focus {
		  	animation: backAndForth 5s linear 1;
		  	background-color: $lightGray;
		  	color: $mahogany;
		  }
		}
	}

	.darkmode--activated & {
		filter: invert(100%);
	}
}

@keyframes backAndForth {
	0% {
	  transform: translate(0)
	}

	10% {
	  transform: translate(0)
	}

	45% {
	  transform: translate(calc(-100% + 270px))
	}

	55% {
	  transform: translate(calc(-100% + 270px))
	}

	90% {
	  transform: translate(0)
	}

	to {
	  transform: translate(0)
	}
}

// map popup styling
.feature {
	.feature-header {
		margin-bottom: 8px;
		margin-bottom: .5rem;

		.feature-title,
		.feature-title::after,
		.feature-location {
			display: inline;
			font-weight: 700;
			font-size: 16px !important;
			line-height: 1.6666666667;
		}

		.feature-title::after {
			content: ' - ';
			display: inline;
		}

		.feature-latlng {
			@include visually-hidden;
		}

		.feature-link {
			display: inline-block;
			position: relative;
			z-index: 10;

			.link-icon {
				pointer-events: none;
				display: inline-block;
				width: 22px;
				height: 27px;
				text-indent: -9999px;
				color: transparent;
				background-image: url('images/link.svg');
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}
	}

	.darkmode--activated & .feature-header .feature-link .link-icon {
		filter: invert(100%);
	}
}

// tooltips
.tooltip {
	opacity: 0;
	background: $lightGray;
	border: 1px solid $paleGray;
	color: $midGray;
	font-size: 14px !important;
	font-weight: 400 !important;
	padding: 8px 12px;
	line-height: 1.4;
	white-space: nowrap;
	width: fit-content;
	position: absolute;
	pointer-events: none;
	z-index: 9999;
	
	&.showTooltip {
		opacity: 1;
	}

	.darkmode--activated & {
		background: $darkerGray;
		border-color: $darkGray;
		color: $midGray;
	}
}
