// declare additional variables
$lightGreen: #DDEEd7;
$paleGreen: #5C8B49;
$green: #37582A;

// enable smooth-scroll
html {
  scroll-behavior: smooth;
}

// fix dark mode button so it doesn't get hidden behind images
.darkmode-toggle {
	z-index: 1000;
}

// fix figcaption styling 
figcaption {
	text-align: left;
	margin-top: -5px;
	color: $gray;
	opacity: .5;
	transition: opacity 0.5s ease;
}

figure {
	a {
		display: block;

		&:hover, 
		&:focus {
			+ figcaption {
				opacity: 1;
			}
		}
	}
}

// fix margin at top of message and report notes
.message,
.report-notes {
	margin-top: 35px;

	*:first-child {
		margin-top: 0;
	}
}

// report notes styles
.report-notes-container {
	// use container so anchor link includes top padding
	margin-top: -15px;
	padding-top: 30px;

	.report-notes {
		margin-top: 0;
		margin-bottom: 30px;
		padding: 30px;
		background-color: $lightGreen;
		border-radius: 3px;

		h3 {
			display: block;
			padding-bottom: 5px;
			border-bottom: 3px solid $paleGreen;
		}

		dt,
		dd {
			margin-top: 10px;
		}

		dt {
			font-weight: bold;
			display: inline-block;
		}

		dd {
			display: inline;
			
			&:after {
		  		display: block;
		  		content: '';
			}
		}
	}
}

// skip to report summary link styles
h1 + .date {
	display: inline-block;}

.date + .skip-to-notes::before {
	display: inline-block;
	content: "|";
	padding: 0 10px;
}

.skip-to-notes {
	display: inline-block;
}